@charset "utf8";
@font-face {
    font-family:"SoWhat"; 
    src:url(./SoWhat-Regular.woff) format("woff");}

/*画面全体の設定*/
body,
html {
  margin: 0 auto;
  letter-spacing: 2px;
  font-family: "SoWhat";
}
 
/*固定する背景*/

.parallax-bg {
  padding: 5%;
  background-image: url('./img/01-whitepaper.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150%;
}
 
.title{
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
}

.main{
    margin: auto;
    width: 50%;
}

.recommend{
    margin: auto;
    text-align: center;
    font-size: 30px;
    width: 33%;
    flex-direction: column;
}

button{
    font-family: "SoWhat";
    font-size: 20px;
    width: 30%;
}


.recommend_frame_img{
    width: 100%;
    position: relative;
}

.recommend_heart_img{
    width: 9%;
    position: absolute;
    margin-top: 3%;
    margin-left: 2.8%;
}


.favorite{
    text-align: center;
    font-size: 30px;
    width: 66%;
}

.left{
    position: sticky;
}

.favorite_left_frame{
    width: 50%;
}

#favorite_left_heart_img{
    width: 9%;
    position: absolute;
    margin-top: 3%;
    margin-left: 2.8%;
}


.left{
    width: 100%;
}

.nail_img_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul {
    list-style: none;
  }

li {
    width: 33%;
}

.nail_img{
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
}


.janken{
    text-align: center;
}

main{
    text-align: center;
}

#cho_btn{
    margin-left: 25px;
    margin-right: 25px;
}

#par_btn{
    margin-right: 35px;
}

.pc{
    font-size: 25px;
}

.result{
    font-size: 25px;
}

#judgment{
    font-size: 20px;
}

.scroll_all{
    position: sticky;
    top: 150px;
    float: right;
    text-align: center;
    font-size: 25px;
}

#scroll{
    width: 60%;
}

#text_area{
    height: 300px;
}

.memo1{
    position: sticky;
    top: 150px;
}

.memo_title{
    margin-left: 50px;
    font-size: 30px;
}

#save{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin-bottom: 20px;
    text-align: center;
    width: 70px;
}

#clear{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin-bottom: 10px;
    text-align: center;
    width: 70px;
}

